@import '../../assets/styles/common/var';

.admin-dropdown {
  float: right;
  overflow: hidden;
  margin-top: -$admin-base-size*12;
  margin-right: $admin-base-size*3;
  .admin-dropdown__dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    cursor: pointer;
  }
  &__content {
      display: none;
      position: absolute;
      background-color: $admin-blue;
      width: 130px;
      z-index: 1;      
  }
  &__lang-default {
      float: none;
      color: $admin-white;
      background-color: $admin-blue;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      text-align: left;
      &:hover {
          cursor: pointer;
      }
  }
  &__lang-active {
      background-color: $admin-brown;
  }
  &__dropicon {
      cursor: pointer;
  }
  &:hover &__content {
      display: block;
      cursor: pointer;
  }
}

