
@import '../assets/styles/common/var';

.admin-component {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-image: url(../assets/images/backgroundImg.png);
    background-size: cover;
    width: $admin-base-percent*5;
}