@import '../../assets/styles/common/var';
.admin-navbar {
  font-size: $font-medium;
  color: $admin-white;
  text-align: left;

  ul {
    line-height: 3;
    font-weight: 400;
    padding-top: 50px;
    list-style: none;

    li {

      a {
        color: $admin-white;
        text-decoration: none;
      }
      &:hover, &:active {
        background: $admin-gray;
      }
    }
  }
}
:host {
  background-color: $admin-blue;
  color: $admin-white;
  position: fixed;
  left: auto;
  top: 77px;
  right: 0;
  bottom: 63px;
  width: 20%;
  min-width: 250px;
}