@import '../../assets/styles/common/var';
.admin-navbar {
  font-size: $font-medium;
  color: $admin-white;
  text-align: left;

  ul {
    line-height: 3;
    font-weight: $font-weight-base*4;
    font-size: $font-medium;
    padding-top: $admin-base-size*10;
    list-style: none;

    li {

      a {
        color: $admin-white;
        text-decoration: none;
      }
      &:hover, &:active {
        background: $admin-gray;
      }
    }
  }
}
:host {
  background-color: $admin-blue;
  color: $admin-white;
  position: fixed;
  left: auto;
  top: $admin-base-size*15;
  right: 0;
  bottom: $admin-base-size*12;
  width: $admin-base-percent;
  min-width: $admin-base-size*50;
}