<form [formGroup]="registerForm" class="admin-form" (ngSubmit)="onFormSubmitted(registerForm.value)">
  <div class="admin-form__title">
    <h2>Register</h2>
  </div>
  <div class="admin-form__row admin-row">
    <label class="admin-row__label">Full Name</label>
    <input type="text" class="admin-row__input" formControlName="name">
     <div [hidden]="registerForm.controls.name.valid || registerForm.controls.name.untouched">
      <div [hidden]="!registerForm.controls.name.hasError('required')" class="admin-row__req-error">
        Name is required!
      </div>
    </div>
  </div>
  <div class="admin-form__row admin-row">
    <label class="admin-row__label">Email</label>
    <input type="text" class="admin-row__input" formControlName="email">
     <div [hidden]="registerForm.controls.email.valid || registerForm.controls.email.untouched">
      <div [hidden]="!registerForm.controls.email.hasError('required')" class="admin-row__req-error">
        Email is required!
      </div>
      <div [hidden]="!registerForm.controls.username.hasError('pattern')" class="admin-row__req-error">
        Oops, wrong pattern buddy!
      </div>
    </div>
  </div>
  <div class="admin-form__row admin-row">
    <label class="admin-row__label">Username</label>
    <input type="text" class="admin-row__input" formControlName="username">
    <div [hidden]="registerForm.controls.username.valid || registerForm.controls.username.untouched">
      <div [hidden]="!registerForm.controls.username.hasError('required')" class="admin-row__req-error">
        Username is required!
      </div>
      <div [hidden]="!registerForm.controls.username.hasError('minlength')" class="admin-row__req-error">
        At least 5 characters.
      </div>
    </div>
  </div>
  <div class="admin-form__row admin-row">
    <label class="admin-row__label">Password</label>
    <input type="text" class="admin-row__input" formControlName="password">
    <div [hidden]="registerForm.controls.password.valid || registerForm.controls.password.untouched">
      <div [hidden]="!registerForm.controls.password.hasError('required')" class="admin-row__req-error">
        Password is required!
      </div>
    </div>
  </div>
  <div class="admin-form__row admin-row">
    <button type="submit" class="admin-row__btn" [disabled]="registerForm.invalid">Register</button>
    <a [routerLink]="['/']" class="admin-row__link">Cancel</a>
  </div>
</form>